/*-- scss:defaults --*/
// Base document colors
// $body-bg: #181818;
// $body-color: white;

$highlight: #ca940c; 
$base-color: #1f094c;
$link-color: $highlight; 
$link-hover-color: #ca940c;
$pale-grey: #F4F2F3;
$sidebar-bg: $base-color;
$navbar-bg: $base-color;
$input-bg: #ffffff;
$dark-text: #51514f;
$sidebar-fg: $pale-grey;

$font-size-root: 1.05em;
$font-size-sidebar-link: 1.2*$font-size-root;

$font-size-sidebar-header: $font-size-sidebar-link;

// Code blocks
$code-block-bg-alpha: -.8;     





.sidebar-item-text {
    font-size: $font-size-sidebar-link;
}

.sidebar-title.mb-0.py-0 a {
    font-size: $font-size-sidebar-header;
    color: $input-bg;
    font-weight: bold;
}


div.sidebar-item-container .active{
    font-weight: bold;
}

.quarto-sidebar-header p {
    padding-bottom: 0em;
    margin-bottom: 0em;
  }

.display-name { 
    color: $dark-text;
}


$link-underline-color: #dee2e6;